/* black1: #0B090A*/
/* black2: #161A1D*/
/* red1: #BA181B*/
/* red2: #E5383B*/

/* Generico*/

body{
    font-family: 'Epilogue', sans-serif;
    color: #0B090A;
}

.btn{
    padding: 20px 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-sm{
    padding: 12px 24px;
    font-size: 0.9rem;
}

.btn-primary{
    background-color: #BA181B;
}

.btn-outline{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.overtitle{
    font-size: 16px;
    line-height: 24px;
    color: #E5383B;
    font-weight: 700;
    text-transform: uppercase;
}

.title{
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

/* Layout */

#header-container{
    background-color: #0B090A;
}

.header{
    
    color: #FFFFFF;
    padding: 24px 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

/* Hero Section */

#hero-container{
    background-color: #0B090A;
    color: #FFFFFF;
    padding: 0px 72px;
}

.hero{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-text__title{
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 0px;
}

.hero-img {
    flex: 1;
    align-self: flex-end;
}


.hero-img img{
    max-width: 100%;
}
.hero-text__subtitle{
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
}

/* Services Section */

#services-container{
    padding: 96px 72px;
}

.service-card{
    background-color: #F5F3F4;
    border: 2px solid #D3D3D3;
}

.service-card img{
    max-width: 100%;
}
